.custom-box {
    background-color: #ffffff;
}
.green {
    color: green;
    text-transform: uppercase;
}
.yellow {
    color: rgb(255, 217, 0);
    text-transform: uppercase;
}
.red {
    color: red;
    text-transform: uppercase;
}
.spinner {
    position: relative;
    display: inline-block;
    margin-left: 15px;
    width: 55px;
    vertical-align: middle;
    white-space: nowrap;
}